<!DOCTYPE html>
<html lang="en">
<head>

     <title>Post-Quantum Cryptography</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link href="{{url_for ('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
     <link href="{{url_for ('static', filename = 'css/font-awesome.min.css')}}" rel="stylesheet">
     <link href="{{url_for ('static', filename = 'css/aos.css')}}" rel="stylesheet">
     <link href="{{url_for ('static', filename = 'css/owl.carousel.min.css')}}" rel="stylesheet">
     <link href="{{url_for ('static', filename = 'css/owl.theme.default.min.css')}}" rel="stylesheet">

     <!-- MAIN CSS -->
     <link href="{{url_for ('static', filename = 'css/templatemo-digital-trend.css')}}" rel="stylesheet">

</head>

<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/home">
              <i class="fa fa-line-chart"></i>
              Post-Quantum Cryptography
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/main" class="nav-link contact">Get Started</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">Future-Proof Encryption Starts Here</h1>

                                   <a href="/main" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Get Started!</a>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="/static/images/working-girl.png" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">The most <strong>secure Post-Quantum Cryptography</strong> Web App </h2>
<br>
                              <p class="mb-0" data-aos="fade-up"> 
                              Experience quantum-resistant encryption with our cutting-edge Flask-based solution. <strong>Generate keys, encrypt messages, and decrypt</strong> with confidence—all in one place.
                              <br>
                              <br>Use this web app to: <br>

                              <br><strong>-></strong>  Generate public and private keys
                              
                              <br><strong>-></strong>  Encrypt messages with quantum-safe algorithms
                              
                              <br><strong>-></strong>  Decrypt messages securely</p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="/static/images/office.png" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Simple. <strong>Secure.</strong> Quantum-proof.</h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i> 
              +92 123 456 789
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                i210320@nu.edu.pk
              </a>
            </p>
          </div>

        </div>
      </div>
    </footer>


     <!-- SCRIPTS -->
     <script src="{{url_for ('static', filename = 'js/jquery.min.js')}}"></script>
     <script src="{{url_for ('static', filename = 'js/bootstrap.min.js')}}"></script>
     <script src="{{url_for ('static', filename = 'js/aos.js')}}"></script>
     <script src="{{url_for ('static', filename = 'js/owl.carousel.min.js')}}"></script>
     <script src="{{url_for ('static', filename = 'js/smoothscroll.js')}}"></script>
     <script src="{{url_for ('static', filename = 'js/custom.js')}}"></script>

</body>
</html>